html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Arial", "Helvetica", "sans-serif";
    overflow: hidden;
}

p, h1, h2, dl, small {
    padding: 3px 10px 3px 10px;
}

input, select, button {
    margin-left: 10px;
}

select, button {
    outline: none;
}

select {
    width: 150px;
    height: 30px;
    text-indent: 15px;
    border-radius: 10px;
    border-color: lightgray;
}

input[type=color] {
    width: 10px;
    height: 13px;
    border-radius: 5px;
    margin-right: 8px;
    top: -3px;
    left: -1px;
    position: relative;
}

input[type=checkbox] {
    margin-right: 8px;
}

#inputs input {
    width: 150px;
    height: 22px;
    border-radius: 10px;  
    border-style: solid;
    border-width: 1px; 
    border-color: lightgray; 
    outline: none;
    margin-bottom: 3px;
}

button {
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    border-style: solid;
    outline: none;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 10px;
    background-color: #fff;
}

button:focus, button:hover, select:focus {
    background-color: #f5f5f5;
}

h1, h2 {
    background: #bfcada;
}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    padding-left: 11px;
}

main {
    margin: 0;
    padding: 0;
    height: 100%;

    display: flex;
}

@media (max-aspect-ratio: 5/4) {
    main {
      flex-direction: column;
    }
  }

#elm {
    flex: 0 0 350px;
    padding: 0;
    overflow: auto;
    background: #fff;
}

#controls {
    margin: 0;
}

#canvasContainer {
    background: #fff;
    position: relative;
    flex: 1 0 0;
    overflow: hidden;
}

#canvasMain {
    width: 100%;
    height: 100%;
}

.tabs {
    padding: 0;
    margin: 0;
    background: #bfcada;
    display: flex;
    list-style: none;
}

.tabs .tab {
    flex: 1 1 auto;
    text-align: center;
    padding: 10px 15px;
}

.tabs .tab:hover {
    background: #a3b9da;
    cursor: pointer;
  }

.rulePair {
    margin: 10px 0px;
}

.controlGroup {
    margin-top: 20px;
}

hr {
    background-color:#fff;
    border: 0;
    margin-top: 25px;
    height: 1px;
  }

footer {
    margin-bottom: 20px;
}
